
.close-area {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.close-btn {
    background: #ff6347;;
    height: 50px;
    width: 50px;

    border-radius: 50px;
    border: none;
    
    box-shadow: 0px 1px 2px black;

    transition: 0.5s;
}

.close-btn:focus{
    outline: none;
}

.close-btn:hover{
    background: #ff4747;
    box-shadow: 0px 3px 5px black;
    cursor: pointer;
}

.modal-create-container {
    flex-direction: row;
    background: rgb(101, 64, 122);
    color: black;
}

.create-message-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    /* flex-wrap: wrap; */
}

.create-item-btn {
    background: #00cc99;
    padding: .3rem 1rem;
    display: flex;
    align-items: flex-start;

    border-radius: 25px;
    margin-right: 1rem;

    box-shadow: 0px 2px 3px black;
    transition: 0.3s;
}

.create-item-btn div {
    margin-left: 5px;
    font-size: 20px;
}

.create-item-btn:hover {
    background: #00dd99;
    box-shadow: 0px 3px 5px black;
    cursor: pointer;
}
